:root {
  --yellow: #efc331;
  --brown-orange: #a43a2a;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Jersey10-Regular";
  src: url("./assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-display: swap;
}
body {
  font-family: "Jersey10-Regular", monospace;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}
.game-scale {
  width: 1440px;
  height: 1024px;
  position: relative;

  --scale: min(calc(100vw / 1440), calc(100vh / 1024));

  width: calc(1440 * var(--scale));
  height: calc(1024 * var(--scale));

  transform-origin: center;

  --shadow-size: min(1vw, 1.40625vh);
  font-size: min(1vw, 1.40625vh);
  transform-origin: center;
  overflow: hidden;
  position: relative;
}

/* start/home page */

.home {
  position: absolute;
  inset: 0;
  background-image: url("./assets/images/homepage-background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 14em;
  font-weight: 2000;
  color: var(--yellow);

  text-shadow:
    calc(-1 * var(--shadow-size)) 0 0 #fff,
    var(--shadow-size) 0 0 #fff,
    0 calc(-1 * var(--shadow-size)) 0 #fff,
    0 var(--shadow-size) 0 #fff,
    calc(-1 * var(--shadow-size)) calc(-1 * var(--shadow-size)) 0 #fff,
    var(--shadow-size) calc(-1 * var(--shadow-size)) 0 #fff,
    calc(-1 * var(--shadow-size)) var(--shadow-size) 0 #fff,
    var(--shadow-size) var(--shadow-size) 0 #fff,
    0 calc(0.75 * var(--shadow-size)) 0 rgba(0, 0, 0, 0.25);
}

.btnStart {
  width: calc(30 * min(1vw, 1.40625vh));
  height: calc(10 * min(1vw, 1.40625vh));
  border-radius: 999px;
  margin-bottom: 1em;

  border: min(1vw, 1.40625vh) solid var(--brown-orange);
  background: var(--yellow);

  font-family: "Jersey10-Regular", monospace;
  font-size: 7em;
  font-weight: 700;
  color: var(--brown-orange);
  letter-spacing: 1px;

  box-shadow:
    0 clamp(6px, 1vw, 16px) 0 rgba(0, 0, 0, 0.18),
    inset 0 clamp(8px, 1vw, 16px) 0 rgba(255, 255, 255, 0.22),
    inset 0 clamp(-8px, -1vw, -16px) 0 rgba(0, 0, 0, 0.1);

  cursor: pointer;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btnStart:hover {
  transform: scale(1.04);
}

.btnStart:active {
  transform: translateY(3px);
  box-shadow:
    0 7px 0 rgba(0, 0, 0, 0.18),
    inset 0 12px 0 rgba(255, 255, 255, 0.2),
    inset 0 -12px 0 rgba(0, 0, 0, 0.12);
}

.menuBtn {
  position: absolute;
  top: calc(1.5 * min(1vw, 1.40625vh));
  left: calc(1.5 * min(1vw, 1.40625vh));

  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  width: calc(6 * min(1vw, 1.40625vh));
  height: calc(6 * min(1vw, 1.40625vh));

  display: grid;
  place-items: center;

  -webkit-tap-highlight-color: transparent;
}

.menuBtn img {
  width: 100%;
  display: block;

  user-select: none;
  pointer-events: none;

  filter: drop-shadow(0 0 0 #a43a2a);
}

.menuBtn:hover img {
  transform: scale(1.04);
}

.menuBtn:active img {
  transform: translateY(2px) scale(0.98);
}

.menuBtn:focus-visible {
  outline: 3px solid rgba(255, 255, 255, 0.75);
  outline-offset: 6px;
  border-radius: 999px;
}


/* room 1 */

.room1bkg {
  position: absolute;
  inset: 0;
  background-image: url("./assets/images/room1-background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btnlever1 {
  width: calc(14 * min(1vw, 1.40625vh));

  /* location */
  position: absolute;
  top: calc(56% - (15 * min(1vw, 1.40625vh)) / 2);
  left: calc(64% - (15 * min(1vw, 1.40625vh)) / 2);
}

.btnlever1:hover {
  transform: scale(1.04);
}
